*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

.calculator{
    background:#3a445248;
    padding:20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.input{
    border:none;
    outline :none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;;
    color:#fff;
    cursor:pointer;
    margin: 10px;
    position: relative;
}

.input:active{
    box-shadow: none;
    top:5px;
}

form .display input{
    border:none;
    outline :none;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;;
    color:#fff;
    cursor:pointer;
    margin: 10px;
    text-align: right;
    flex:1;
    font-size: 45px;
}

form .display{
    display:flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.equal{
    border:none;
    outline :none;
    height: 60px;
    width: 145px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;;
    color:#fff;
    cursor:pointer;
    margin: 10px;
    position: relative;
}

.equal:active{
    box-shadow: none;
    top:5px;
}